@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-shadow: beige;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}
a{
    text-decoration: none;
}
nav{
    background-color: #dfd5d0;
}
.hero-background  {
    background:pink;
    /* height: 500px; */
}
.saving-img-background{
    background-color: #7fd7eb;
}
.gifts-img-background{
    background-color: #6929a5;
}
input{
    width: 100%;
    height: 50px;

    outline: none;
    border: 1px solid grey;
    margin: 10px 0px;
}
textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    padding: 15px 0px;
}
.footer-background-color{
    background: #2d2d2d;
}

.search-menu:focus {
    color: red;
}
#show-products{
    display: none;
}
.modal-backdrop {
    height: 0px;
}


@media (max-width:576px) {
    .saving-media1 img{
        /* width: 80%; */
      order: 1;
    }
}
.contant-box{
    position: relative;
}

#genret{
    /* display: none; */
  /* visibility: hidden;
  opacity: 0; */
    position: absolute;
    top: -500px;
    left: 30%;
    width: 400px;
    /* height: 400px; */
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
}
.like-box {
    right: 0;
}
.red{
   background-color: red;
}

.open{
    top: 800px;
}
.overly{
    bottom: -120%;
    transition: 500ms;
    background: rgba(182, 176, 176, 0.795);
    z-index: -10;
   margin-top: 10px;

}
.overflow-box:hover .overly{
}
.overflow-box:hover .overly{
    bottom: 0%;
}